@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer components {
    .ring-shadow {
        @apply bg-slate-100 overflow-hidden ring-1 ring-slate-900/5 shadow-lg shadow-slate-900/5 dark:bg-slate-700 dark:shadow-slate-500/5 outline-none;
    }

    .my-svg {
        @apply fill-none stroke-2 stroke-slate-900 w-5 h-auto group-hover:stroke-sky-400 dark:stroke-white;
    }

    .my-transition {
        @apply transition-all ease-in-out duration-300;
    }

    .separator {
        @apply w-full h-px bg-gradient-to-r from-slate-900/0 via-slate-900/40 to-slate-900/0 dark:from-slate-100/0 dark:via-slate-100/40 dark:to-slate-100/0
    }

    .my-btn {
        @apply bg-sky-400 overflow-hidden ring-1 ring-sky-900/5 shadow-lg shadow-sky-500/5 outline-none rounded-full hover:bg-sky-500 my-transition;
    }

    .bg-pattern {
        background-image: radial-gradient(rgba(15, 23, 42, 0.1) 1.5px, transparent 0px), radial-gradient(rgba(15, 23, 42, 0.1) 1.5px, transparent 0px);
        background-size: 30px 30px;
        background-position: 0 0, 15px 15px;
        background-color: #fff;
    }

    /* Credit to https://10015.io/tools/css-background-pattern-generator */
    .bg-pattern-dark {
        background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 0px), radial-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 0px);
        background-size: 30px 30px;
        background-position: 0 0, 15px 15px;
        background-color: #0f172a;
    }
}